.library {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.library-message {
  background-color: transparent;
  color: black; /* Set text color to black */
  padding: 10px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.libraryList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center; /* Adjusted for better centering */
}

.libraryItem {
  border-radius: 15px;
  width: 300px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensures the image does not overflow the container */
}

.libraryItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.libraryItem-image {
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.libraryItem h3 {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.libraryItem p {
  text-align: center; /* Center the author's name */
  margin: 10px;
}

@media only screen and (max-width: 1300px) {
  .libraryList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .libraryList {
    grid-template-columns: 1fr;
  }
}